<!--CONTENIDO DE LA PAGINA-->
<div class="content-wrapper" id="contenido">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div>
                        <h1>Libros <i class="fa-solid fa-user"></i></h1>
                        <hr>
                    </div>
                    <div class="d-flex col-md-3 mt-3">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#crearUsuario"><i class="fa-solid fa-plus"></i> Agregar Libro</button>
                    </div>
                    <div>
                        <form class="d-flex col-md-3 mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar Libro"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- CONTENIDO Y TABLAS -->
        </div>
    </section>
</div>