<!--CONTENIDO DE LA PAGINA-->
<div class="content-wrapper" id="contenido">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div>
                        <h1>Dashboard <i class="fa-solid fa-user"></i></h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- CONTENIDO Y TABLAS -->
        </div>
    </section>
</div>